/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

body {
  --bs-body-color: white;
  background: url("../public/images/murphys-new-background.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.nav {
  --bs-nav-link-color: white;
}

#topMenu, #bottomMenu {
  background-color: #1B4F24;
}

#centerText {
  height: 650px;
}

